@model HowToTrainYourDragon.Model.LocationModel.LocationDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocationDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climate)
        </dd>
    </dl>
    <table class="Dragontable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dragons.First().LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dragons.First().DragonType)
            </th>
        </tr>

        @foreach(var dragon in Model.Dragons)
         {
             <tr>
                <td>
                    @Html.DisplayFor(dragonItem => dragon.Location.LocationId)
                </td>
                
                 <td>
                     @Html.DisplayFor(dragonItem => dragon.DragonType)
                 </td>

             </tr>
         }
    </table>
        


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
