@model HowToTrainYourDragon.Model.LocationModel.LocationDetails

@{
    ViewBag.Title = "Details";
}
<body style="background-image: url('../../Images/99322fb324515947b082d96ea2186559.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;font-family: Papyrus, fantasy; ">

    <h2 style="color:white;">Details</h2>

    <div style="color:white;">
        <h4>Location Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LocationId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlternateName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlternateName)
            </dd>
        </dl>
        <table class="Dragontable" style="display: inline-block; float = left">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Dragons.First().DragonType)
                </th>
            </tr>

            @foreach (var dragon in Model.Dragons)
            {
                <tr>


                    <td>
                        @Html.DisplayFor(dragonItem => dragon.DragonType)
                    </td>

                </tr>
            }
        </table>
        <table class="Humantable" style="display: inline-block; float: right;">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Humans.First().Name)
                </th>
            </tr>

            @foreach (var human in Model.Humans)
            {
                <tr>


                    <td>
                        @Html.DisplayFor(humanItem => human.Name)
                    </td>

                </tr>
            }
        </table>



    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }, new { @style = "color: white;" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @style = "color: white;" })
    </p>

</body>