@model IEnumerable<HowToTrainYourDragon.Model.DragonModel.DragonListAll>

@{
    ViewBag.Title = "Index";
}
<body style="background-image: url('../../Images/Dragon2.jpeg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: black; color:white;">
    

    <h2 style="color: white;">Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new {@style="color:white"})
    </p>

    @if (TempData.ContainsKey("SaveResult"))
    {

        <div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="=alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

    <table class="table" style="color: white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DragonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DragonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DragonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DragonType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DragonId }, new {@style= "color:white"}) |
                    @Html.ActionLink("Details", "Details", new { id = item.DragonId }, new { @style = "color:white" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DragonId }, new { @style = "color:white" })
                </td>
            </tr>
        }

    </table>

</body>