@model IEnumerable<HowToTrainYourDragon.Model.PartnershipListAll>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{

    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="=alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnershipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Human.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dragon.DragonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DragonNickName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartnershipId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Human.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dragon.DragonType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DragonNickName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.PartnershipId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PartnershipId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PartnershipId })
                </td>
            </tr>
        }

    </table>
