@model IEnumerable<HowToTrainYourDragon.Model.HumanModel.HumanListAll>

@{
    ViewBag.Title = "Index";
}

<body style="background-image: url('../../Images/Character-Image.jpeg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: black; color: white; font-family: Papyrus, fantasy; font-family: Papyrus, fantasy; ">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @style = "color:white" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HumanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasDragon)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HumanId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.HasDragon)
                    @if (item.HasDragon == true)
                    {
                        @Html.Encode("Has Dragon")

                    }
                    @if (item.HasDragon == false)
                    {
                        @Html.Encode("Does Not have Dragon")
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.HumanId }, new { @style = "color:white" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.HumanId }, new { @style = "color:white" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.HumanId }, new { @style = "color:white" })
                </td>
            </tr>
        }

    </table>

</body>